:root {
  --text-color: #21243d;
  --background-color: #edf7fa;
  --button-color: #ff6464;
  --Light: #8695a4;
}

.works-title {
  font-size: 44px;
  line-height: 60px;
  margin-bottom: 25px;
}

@media (max-width: 650px) {
  .works-title {
    font-size: 30px;
  }
}

.link-clicked {
  color: var(--button-color);
}
